/***<div class="media borde div_tamanof">
  <div class="media-left media-middle">
	<a href="#">
	  <img id="foto" class="media-object" src="" alt="">
	</a>
  </div>
  <div class="media-body">
	<h4 class="media-heading">Middle aligned media</h4>
	...
  </div>
</div>
						<div>
						<input type="file" class="form-control" placeholder="First-name" aria-describedby="sizing-addon1" id="imagen" onchange="LOGIN.imagen()">
						</div>***/
						

						.h1registro
						{
							width: 20%;
							margin-top: -11%;
							margin-left: 39%;
						}

						.login
						{
							
							background-image: url(http://www.fondos12.com/data/media/2/big/circulos__wallpaper_480x300.jpg);
							margin-top: 13%;
							padding-left: 0%;
							height: 260px;
							width: 27%;

							
						}

						.btn_input_login::-webkit-input-placeholder {

							width: 12%;
							color: blue;

						} 

						body
						{
							background-image: url(http://p1.pichost.me/i/28/1511457.jpg);
							background-repeat: no-repeat;
							background-size: cover;
							-moz-background-size: cover;
							-webkit-background-size: cover;
							-o-background-size: cover;
						}

						.form_login
						{
							margin-top: 8%;
						}

						.btn_login
						{
							width: 200%;
							margin-top: 20px;
						}
						.btn_registro
						{   
							width: 97%;
							height: 42px;
							margin-left: 2%;
							margin-top: 2%;
						}
						.btn_registro_cancel
						{
							width: 97%;
							height: 42px;
							margin-left: 2%;
						}
						.a_login
						{
							margin-left: 70px;
						}
						.b{
							border: solid white;
							margin-left: 94%;
							width: 16%;
							height: 77px;
							padding-left: 0%;
						}
						.borde 
						{
							width: 60%;
							margin-top: 6%;
							padding-top: 8%;
							margin-left: 21%;
							background-color: black;
							border: solid white;
							color: whitesmoke;
						}
						.tamanocmb
						{
							width: 100%;
							height: 44px;
							border:inset;
						}
						.div_tamanof
						{
							width: 26%;
							height: 124px;
							padding-top: 0%;
							margin-left: 2px;
							}.div_tamano
							{
								width: 16%;
								height: 52px;
								margin-top: 3%;
								padding-top: 0%;
								margin-left: 233px;
							}
							.div_tamanobtn_cancel
							{
								width: 16%;
								height: 52px;
								margin-top: -8%;
								margin-left: 342px;
								padding-top: 0%;
							}
							.bo
							{
								border: solid black;    
							}
							.vercorreo2
							{
								margin-top: 90px;
								margin-left: 600px;
								border: solid grey;
								border-right-color:transparent;
								display: none;
								width: 53.8%;
								height: 82.3%;
							}
							.leermensajes
							{
								width: 22%;
							}
							.divbandejas:hover{
								background-color:#123959 ;
							}
							.divbandejas
							{
								margin-left: -16%;
								padding-left: 0%;
								width: 20%;
								margin-top: 0.1%;
								padding-bottom: 0.2%;
								height: 102px;}
								.bandejas
								{        
									width: 16%;
									margin-top: 12%;
									margin-left: -10%;
								}
								.bandejas.de
								{
									text-decoration: none;

								}
								.borde
								{
									width: 40%;
									margin-top: 6%;
									padding-top: 8%;
									margin-left: 24%;
									background-color: black;
									border: solid white;
									color: whitesmoke;
								}
								.navtitulo
								{
									width: 136%;

								}
								.posicion.nombresband
								{
									margin-left: 4.4%;
									margin-top: -5.5%;
									padding-left: 4%;
									width: 31%;
									height: 90px;
									padding-top: 2%;
								    text-align: center;
								    border-bottom:solid lightblue;
								}
								.derecha{
									margin-top: 7.9%;
									margin-right: -38%;
								}
								.posicion
								{
									margin-left: -17.6%;
								}.nlban.p 
								{
									margin-left: 67%;
								}
								.nlban{
									margin-left: -19%;
								}
								.h2{
									margin-left: -9%;
								}
								.h1{
									margin-left: -9%;
								}
								.posicion.navt{
									margin-left: -16%;    
									width: 132%;
									height: 40px;
								}
								.colorfondo:hover{
									background-color: lightblue;
								}
								.colorfondo{
									background-color: white;
									margin-top: -1.8%;
									padding-left: 13%;
								}
								.fotoonline
								{
									margin-top: -65px;
									width: 8%;
									float: right;
									margin-right: -13px;
									height: 66px;
								}
								.nombre
								{
									margin-left: 88%;
									margin-top: -4%;
									margin-right: 7%;
									background-color: white;
								}
								.bajarunpoco
								{
									padding-top: 5%;
									width: 93%;
									height: 40px;
									padding-left: 7%;
								}		
								.bajarunpoco.grande
								{
									width: 109%;	
								}								
								.color.marcado
								{
									color: red;
									background-color:grey;
								}
								.bajarunpoco.grande:hover{
									background-color:grey;
								}
								.divbtnn
								{
									margin-top: -1.7%;
								}
								.colornuevo
								{
									color: white;
								}
								.botonnuevot
								{
									width: 7%;
									height: 34px;
									margin-top: -1%;
									margin-left: 3%;
								}
								.botonnuevo:hover
								{
									background-color:grey;
								}
								.cazul{
									color: darkblue;
								}
								.cgris{
									color: grey;
								}
								.color.marcado.bandejas
								{
									color: black;
									background-color: white;
									margin-left: -5%;
									margin-top: 0.1%;
									width: 110.1%;
								}
								td
								{
									margin-left: 74%;
									border-bottom: solid lavender;
								}
								.divbtn
								{
									display: none;
									float: right;
									margin-top: -24%;
									margin-right: 16%;
								}
								.divbtn.edit
								{
									float: right;
									margin-top: -24%;
									margin-right: 3%;
								}
								td:hover
								{
									background-color:grey;
								}
								.leercorreos
								{
									display: none;
									margin-top: -26%;
									width: 66%;
									height: 460px;
									background-color: white;
								}
								.vermensajes{
									margin-left: 4.6%;
									width: 30.7%;
								}
