.login
{
	
	background-image: url(http://www.fondos12.com/data/media/2/big/circulos__wallpaper_480x300.jpg);
	margin-top: 13%;
	padding-left: 0%;
	height: 260px;
	width: 27%;

	
}

.btn_input_login::-webkit-input-placeholder {

	width: 12%;
	color: blue;

} 

body
{
	background-image: url(http://p1.pichost.me/i/28/1511457.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.form_login
{
	margin-top: 8%;
}

.btn_login
{
	width: 245%;
	margin-top: 26px;
	margin-left: 1;
}
.btn_registro
{   
	width: 200%;
	height: 37px;
	margin-left: 381px;
	margin-top: 25px;
	}.btn_registro_cancel
	{
		width: 23%;
		height: 37px;
		margin-left: 302px;
		margin-top: 31px;
	}
	.a_login
	{
		margin-left: 70px;
		}.borde 
		{
			margin-top: 6%;
			margin-left: 22%;
			background-color: darkcyan;
			border: solid white;
			color: yellowgreen;
			}.tamanocmb
			{
				width: 70%;
				height: 37px;
				border:inset;
			}